NODE_ENV=development
PORT=3003

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=appointment_db

JWT_SECRET=dev_change_me
INTERNAL_SERVICE_TOKEN=internal_dev_change_me

DOCTOR_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3006

