NODE_ENV=development
PORT=3000
JWT_SECRET=dev_change_me
INTERNAL_SERVICE_TOKEN=internal_dev_change_me

PATIENT_SERVICE_URL=http://localhost:3001
DOCTOR_SERVICE_URL=http://localhost:3002
APPOINTMENT_SERVICE_URL=http://localhost:3003
TELEMEDICINE_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006

