NODE_ENV=development
PORT=3004

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=telemedicine_db

JWT_SECRET=dev_change_me
INTERNAL_SERVICE_TOKEN=internal_dev_change_me

TELEMEDICINE_SECRET=telemed_change_me

