NODE_ENV=development
PORT=3006

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=notification_db

INTERNAL_SERVICE_TOKEN=internal_dev_change_me
JWT_SECRET=dev_change_me

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=no-reply@example.test
SMS_SENDER=HealthSys

PATIENT_SERVICE_URL=http://localhost:3001

