NODE_ENV=development
PORT=3001

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=patient_db

JWT_SECRET=dev_change_me
INTERNAL_SERVICE_TOKEN=internal_dev_change_me

ALLOW_ADMIN_REGISTER=false
ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=admin12345

UPLOAD_DIR=./uploads

DOCTOR_SERVICE_URL=http://localhost:3002

